<div class="bg-black/10 absolute top-0
w-full h-[50vh] rounded-b-[100px] z-[-10]
"></div>
<div class="w-full h-screen text-white">
  <div class="w-full h-full mx-auto px-5 md:px-10 lg:px-20 relative">
    <div class="absolute inset-0 flex flex-col lg:flex-row mx-32">
      <div
        class="flex flex-col w-full lg:w-1/2 h-full py-32 items-center md:items-start"
      >
        <div class="text-6xl w-[300px] sm:w-[400px]">Ring in the New Year</div>
        <div class="text-lg mt-2 w-[300px] sm:w-[400px] md:w-auto">
          Celebrate with friends and family no matter the distance with free*,
          private messaging and calling.
        </div>
      </div>
      <div
        class="flex flex-col w-full lg:w-1/2 h-full justify-center lg:items-end -mt-32 lg:mt-0"
      >
        <img class="w-[400px]" src="/assets/images/happy_new_year.png" alt="" />
        <img class="w-[400px]" src="/assets/images/resolution.png" alt="" />
        <div class="w-full ml-20 lg:ml-14 sm:w-[400px] flex justify-end">
          <img
            class="w-[140px] md:w-[200px]"
            src="/assets/images/2025.png"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="absolute inset-0 w-full h-full mx-auto px-5 md:px-10 lg:px-20">
      <div class="px-5 py-5 w-full h-full flex p- justify-start items-end">
        <button
          class="bg-blue-900 hover:bg-blue-900/70 hover:border hover:border-gray-700 w-[120px] sm:w-[170px] h-[50px] rounded-2xl ml-5 sm:ml-10 mb-10"
        >
          Get Started
        </button>
      </div>
    </div>
    <img
      class="w-full h-full object-cover rounded-[50px]"
      src="/assets/images/messagingimage.png"
      alt=""
    />
  </div>
</div>
