<div class="w-full h-[500px] relative" [class]="classes()">
  <div class="absolute top-0 bg-white h-[50px] w-full rounded-b-[50px]"></div>
  <div
    class="flex bg-gray-900 w-full text-xl justify-center h-[500px] text-white px-[30px] pt-[120px]"
  >
    <div class="flex">
      <div class="flex flex-col lg:flex-row">
        <div
          class="flex flex-col h-[170px] w-[120px] sm:w-[200px] justify-start lg:justify-between"
        >
          <div class="text-4xl mb-5 text-white">Threads</div>

          <div class="text-sm text-gray-500 mb-3 text-gray-500 mb-3">
            <button
              class="inline-block rounded-xl w-[130px] bg-green-600 px-5 py-3 text-sm font-medium text-white transition hover:bg-indigo-700 focus:outline-none focus:ring"
              type="button"
            >
              Download
            </button>
          </div>
        </div>

        <div class="flex flex-col h-[170px] w-[120px] sm:w-[200px]">
          <div class="text-sm text-gray-500 mb-3 text-gray-500 mb-3">
            What we do
          </div>

          <div>Features</div>
          <div>Blog</div>
          <div>Security</div>
        </div>

        <div class="flex flex-col h-[170px] w-[120px] sm:w-[200px]">
          <div class="text-sm text-gray-500 mb-3">Who we are</div>

          <div>About us</div>
          <div>Careers</div>
          <div>Brand Center</div>
        </div>
      </div>

      <div class="flex flex-col lg:flex-row ml-10 sm:ml-0">
        <div class="flex flex-col h-[170px] w-[120px] sm:w-[200px]">
          <div class="text-sm text-gray-500 mb-3">Use Threads</div>

          <div>Android</div>
          <div>iPhone</div>
          <div>Mac/Pc</div>
          <div>Web</div>
        </div>
        <div class="flex flex-col h-[170px] w-[120px] sm:w-[200px]">
          <div class="text-sm text-gray-500 mb-3">Need help?</div>

          <div>Contact Us</div>
          <div>Help Center</div>
          <div>Apps</div>
          <div>Security Advisories</div>
        </div>
      </div>
    </div>
  </div>
</div>
